@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Estilos para el tema light */
[data-theme="light"] {
  /* Fondo y texto claros */
  background-color: #f1f1f1;
  color: #333333;
}

/* Estilos para el tema dark */
[data-theme="dark"] {
  /* Fondo y texto oscuros */
  background-color: #1f2937;
  color: #ffffff;
}

