@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Estilos para el tema light */
[data-theme="light"] {
  /* Fondo y texto claros */
  background-color: #ffffff;
  color: #000000;
}

/* Estilos para el tema dark */
[data-theme="dark"] {
  /* Fondo y texto oscuros */
  background-color: #000000;
  color: #ffffff;
}
.border-white-dark {
  border-color: white;
}
