.container{
    display: flex;

}
.forum-container {
    display: flex;
    justify-content: space-between;
  }
  
  .game-images-container {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ccc;
    padding-right: 10px;
  }
  
  .game-images-container img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .posts-container {
    flex-basis: 40%;
  }
  
  .post {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .chat-container {
    flex-basis: 30%;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    resize: none;
    margin-bottom: 10px;
    }
    